<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>积家</title>

	</head>

	<body>
		<!-- header -->
		<div class="swiper-container">
			<!-- 导航二级菜单 -->
			<div class="nav-country">
				<div class="arrow"></div>
				<div class="choose-country">
					选择你的位置
					<span class="country-line"></span>
				</div>
				<div class="country-all">
					<ul>
						<li class="country-name">美洲<i class="arrow-down"></i></li>
						<li class="country-name">亚洲<i class="arrow-down"></i></li>
						<li class="country-name">欧洲<i class="arrow-down"></i></li>
						<li class="country-name">國際<i class="arrow-down"></i></li>
						<li class="country-name">大洋洲<i class="arrow-down"></i></li>

					</ul>
				</div>
			</div>
			<div class="header-nav-right">
				<ul>
					<li class="country-li">
						<a href="#" style="display: inline">中国<div class="icon_arrow"></div></a>
					</li>
					<li>
						<a href="#">中文<div class="icon_arrow"></div></a>
					</li>
					<li>
						<a href="http://localhost:9999/views/login/login.html"><div class="nav_user"></div></a>
					</li>
					<li>
						<a href="#">搜索<div class="nav_search"></div></a>
					</li>
					<li class="nav_shop">
						<a href="http://localhost:9999/views/details/details.html">在线购买</a>
					</li>
					<li class="nav_last">
						<a href="#"><div class="nav_bag" style="position: relative;top: -2px;"></div><span style="position: relative;top: -4px;">(0)</span></a>
					</li>
				</ul>
			</div>
			<div class="header-logo"><a href="#"></a></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide" data-swiper-autoplay="4000">
					<div class="slide1">
						<h2 class="sw1-h2">最高 8 年保修</h2>
						<a href="###" class="sw1-a">注册您的积家作品</a>
					</div>
				</div>
				<div class="swiper-slide" data-swiper-autoplay="4000">
					<div class="slide2">
						<p class="sw1-h2">Reverso Tribute 翻转系列小秒针腕表</p>
						<a href="###" class="sw1-a" style="width: 62px">立即购买</a>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev swiper-button-white " style="height: 28px ;margin-top: 95px"></div><!--左箭头。如果放置在swiper-container外面，需要自定义样式。-->
			<div class="swiper-button-next swiper-button-white " style="height: 28px;margin-top: 95px"></div><!--右箭头。如果放置在swiper-container外面，需要自定义样式。-->
			<div class="header-nav">
				<ul>
					<li class="nav_bot"><a href="#">腕表</a></li>
					<li><a href="#">表带</a></li>
					<li class="nav_bot"><a href="#">我们的品牌</a></li>
					<li class="nav_bot"><a href="#">客户服务</a></li>
					<li><a href="#">专卖店</a></li>
				</ul>
			</div>
			<div class="header-line"></div>
		</div>
		<!-- product -->
		<div class="product">
			<div class="product-container">
				<ul>
					<li>
						<a href="#">
							<span class="product-bg"></span>
							<div class="product-box">
								<img  class="product-watch" src="https://www.jaeger-lecoultre.cn/content/dam/rcq/jlc/18/10/96/5/1810965.png.crop.285.450.high.png" alt=""/>
								<h3 class="product-name">Reverso Classic 翻转系列腕表小型款</h3>
								<span class="watch-prc">￥32,200</span>
								<span class="watch-tax">含增值税</span>
								<div class="watch-btn-box">
									<button class="watch-btn">添加至购物车</button>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="product-bg"></span>
							<div class="product-box">
								<img class="product-watch" src="https://www.jaeger-lecoultre.cn/content/dam/rcq/jlc/16/51/86/0/1651860.png.crop.285.450.high.png" alt=""/>
								<h3 class="product-name">Reverso Classic 翻转系列小秒针腕表（中型款）</h3>
								<span class="watch-prc">￥46,900</span>
								<span class="watch-tax">含增值税</span>
								<div class="watch-btn-box">
									<button class="watch-btn">添加至购物车</button>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="product-bg"></span>
							<div class="product-box">
								<img class="product-watch" src="https://www.jaeger-lecoultre.cn/content/dam/rcq/jlc/18/10/94/6/1810946.png.crop.285.450.high.png" alt=""/>
								<h3 class="product-name">Reverso One Duetto 双面翻转腕表</h3>
								<span class="watch-prc">￥156,000</span>
								<span class="watch-tax">含增值税</span>
								<div class="watch-btn-box">
									<button class="watch-btn">添加至购物车</button>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="product-bg"></span>
							<div class="product-box">
								<img class="product-watch" src="https://www.jaeger-lecoultre.cn/content/dam/rcq/jlc/13/49/35/5/1349355.png.crop.285.450.high.png" alt=""/>
								<h3 class="product-name">Reverso Tribute Calendar日历翻转腕表</h3>
								<span class="watch-prc">￥191,000</span>
								<span class="watch-tax">含增值税</span>
								<div class="watch-btn-box">
									<button class="watch-btn">添加至购物车</button>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- service -->
		<div class="service">
			<div class="service-container">
				<h2>您的客户服务</h2>
				<span></span>
				<p>所有珍贵的东西都需要悉心呵护。了解 Jaeger-LeCoultre 积家在线服务。</p>
				<div class="service-grid">
					<figure class="service-grid-left">
						<div class="server-grid-box">
							<a href="#">
								<img  class="service-grid-img" src="https://www.jaeger-lecoultre.cn/content/jlc/cn/china/sc/home-page/_jcr_content/clientServiceBar/image1.img.jpg/1558441372980.jpg" alt="服务价格计算器"/>
							</a>
							<figcaption class="server-name">服务价格计算器</figcaption>
						</div>
					</figure>
					<figure class="service-grid-left">
						<div class="server-grid-box">
							<a href="#">
								<img  class="service-grid-img" src="https://www.jaeger-lecoultre.cn/content/jlc/cn/china/sc/home-page/_jcr_content/clientServiceBar/image2.img.jpg/1558441372981.jpg" alt="服务价格计算器"/>
							</a>
							<figcaption class="server-name">篆刻模版</figcaption>
						</div>
					</figure>
					<figure class="service-grid-left">
						<div class="server-grid-box">
							<a href="#">
								<img  class="service-grid-img" src="https://www.jaeger-lecoultre.cn/content/jlc/cn/china/sc/home-page/_jcr_content/clientServiceBar/image3.img.jpg/1558441372983.jpg" alt="服务价格计算器"/>
							</a>
							<figcaption class="server-name">表带搜索器</figcaption>
						</div>
					</figure>
				</div>
				<div class="service-finder">
					<button class="service-finder-btn">请输入您的篆刻参考编号</button>
				</div>
			</div>
		</div>
		<!-- banner -->
		<div class="banner">
			<div class="banner-content">
				<h3>
					全新积家MASTER GRANDE TRADITION RÉPÉTITION MINUTES PERPÉTUELLE 超卓传统大师系列万年历三问腕表 尽显机械腕表的艺术精髓
				</h3>
				<a  class="banner-btn" href="#">探索发现</a>
				<span class="banner-btn-line"></span>
			</div>
		</div>
		<!-- after sale -->
		<div class="after-sale">
			<div class="after-sale-container">
				<div class="after-sale-list">
					<a href="#">
						<img src="https://www.jaeger-lecoultre.cn/content/dam/Footer/Personal advisor.svg" alt="联系您的专属顾问"/>
						<div>
							<p class="after-sale-name">联系您的专属顾问</p><br>
							<p class="after-sale-tel">+86 400 697 7500</p>
						</div>
					</a>
				</div>
				<div class="after-sale-list">
					<a href="#">
						<img src="https://www.jaeger-lecoultre.cn/content/dam/Footer/Delivery.svg" alt="联系您的专属顾问"/>
						<p class="after-sale-name">免费邮寄</p>
					</a>
				</div>
				<div class="after-sale-list">
					<a href="#">
						<img src="https://www.jaeger-lecoultre.cn/content/dam/Footer/Free return.svg" alt="联系您的专属顾问"/>
						<p class="after-sale-name">免费退换</p>
					</a>
				</div>
				<div class="after-sale-list">
					<a href="#">
						<img src="https://www.jaeger-lecoultre.cn/content/dam/Footer/Warranty_Care.svg" alt="联系您的专属顾问"/>
						<p class="after-sale-name">最高 8 年保修</p>
					</a>
				</div>
			</div>
		</div>
		<!-- footer menu -->
		<div class="footer-black"></div>
		<div class="footer-menu">
			<div class="footer-menu-container">
				<div class="footer-col">
					<h4 class="footer-menu-list">法律声明</h4>
					<ul>
						<li><a class="footer-menu-link" href="#">隐私政策</a></li>
						<li><a class="footer-menu-link" href="#">积家中国 网上精品店和客服中心 销售条款</a></li>
						<li><a class="footer-menu-link" href="#">使用条款</a></li>
						<li><a class="footer-menu-link" href="#">返回表格</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4 class="footer-menu-list">腕表</h4>
					<ul>
						<li><a class="footer-menu-link" href="#">自动腕表</a></li>
						<li><a class="footer-menu-link" href="#">手动上链机械腕表</a></li>
						<li><a class="footer-menu-link" href="#">陀飞轮腕表</a></li>
						<li><a class="footer-menu-link" href="#">月相腕表</a></li>
						<li><a class="footer-menu-link" href="#">超薄腕表</a></li>
						<li><a class="footer-menu-link" href="#">日历腕表</a></li>
						<li><a class="footer-menu-link" href="#">钻石表</a></li>
						<li><a class="footer-menu-link" href="#">铂金腕表</a></li>
						<li><a class="footer-menu-link" href="#">白金腕表</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4 class="footer-menu-list">客户服务</h4>
					<ul>
						<li><a class="footer-menu-link" href="#">保修</a></li>
						<li><a class="footer-menu-link" href="#">维护</a></li>
						<li><a class="footer-menu-link" href="#">索取目录</a></li>
						<li><a class="footer-menu-link" href="#">联系我们</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4 class="footer-menu-list">更多</h4>
					<ul>
						<li><a class="footer-menu-link" href="#">寻找专卖店</a></li>
						<li><a class="footer-menu-link" href="#">预约专卖店</a></li>
						<li><a class="footer-menu-link" href="#">订阅时事通讯</a></li>
						<li><a class="footer-menu-link" href="#">无障碍访问承诺</a></li>
						<li><a class="footer-menu-link" href="#">企业社会责任</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- footer legal -->
		<div class="footer-legal">
			<div class="footer-legal-container">
				<p class="footer-introduce">
					积家–瑞士奢华手表 - 参观积家表厂就如同一次旅行，每一次的相遇都会诞生一个美妙的故事，这些故事在不停的延续。每一个制作工坊都有自己生产时发出的独特的声音，自己特有的氛围，还有它自己的灵魂。在这里随处都能感到，在每一个生产的细节里以及在每一个讲出的词藻里都蕴含着“激情”这个词语。积家的理念，是从1833年起的每一代匠心独运的传承和创新，是这些打造出了积家的标记：设计，机芯零部件的装饰，宝石镶嵌，雪花镶嵌法，车削，珐琅工艺 积家的官方网站，同时也是积家的一家网上店铺。女士手表，男式手表，自动表，机械表，透明表，后备功率，万年历，月相，三问表，第二时区子表盘，陀飞轮，援助游丝陀飞轮，超薄，长方形，圆形，金色，玫瑰金，精钢或者钻石。您在我们的店铺内会看到所有的我们指明的奢华手表系列以及所有的型号: Reverso翻转腕表系列，Rendez-vous 约会系列， Master大师系列， Geophysic地球物理天文台®， Duomètre双翼系列，Master Extreme极限运动大师系列，Atmos空气钟，Hybris Artistica 超卓复杂功能系列 以及Hybris Mechanica 超凡复杂工艺 系列。同时请关注如何令您的手表和机芯保持最佳状态的保养方法。令您进一步了解您的手表的结构和所有的装饰技术。
				</p>
			</div>
		</div>
		<!-- footer bottom -->
		<div class="footer-line"></div>
		<div class="footer-bottom">
			<div class="footer-bottom-container">
				<div class="footer-bottom-copyright">
					<img src="https://www.jaeger-lecoultre.cn/etc/designs/richemont-jlc/clientlibs/jlc-framework-header/assets/images/legal_logo.png.resource.1484124150879.png" alt=""/>
					<span class="copy-span">沪ICP备14014303号-13</span>
					<p>Jaeger-LeCoultre 2019</p>
					<span class="bottom-point"></span>
					<span class="bottom-list">媒体中心</span>
					<span class="bottom-point"></span>
					<span class="bottom-list">隐私政策</span>
					<span class="bottom-point"></span>
					<span class="bottom-list">使用条款</span>
					<span class="bottom-point"></span>
					<span class="bottom-list">积家中国 网上精品店和客服中心 销售条款</span>
				</div>
			</div>
		</div>
	</body>

	<script>

	</script>
	<script src="../../static/scripts/require.js" data-main="index.js"></script>
</html>