<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My JLC登录 | Jaeger-LeCoultre积家</title>
        <link rel="stylesheet" href="../../styles/views/login/login.css"/>
    </head>

    <body>
    <!-- header -->
        <div class="header">
            <div class="header-right">
                <ul class="header-nav">
                    <span class="nav-line"></span>
                    <li><a href="#">中国<div class="icon_arrow"></div></a></li>
                    <span class="nav-line"></span>
                    <li><a href="#">中文<div class="icon_arrow"></div></a></li>
                    <span class="nav-line"></span>
                    <li><a href="#"><div class="nav_user"></div></a></li>
                    <span class="nav-line"></span>
                    <li><a href="#">搜索<div class="nav_search"></div></a></li>
                    <span class="nav-line"></span>
                    <li class="nav_top_line">
                        <a href="http://localhost:9999/views/details/details.html">在线购买</a>
                    </li>
                    <span class="nav-line"></span>
                    <li class="nav_top_line"><div class="nav_bag"></div><span>(0)</span></li>
                </ul>
            </div>
            <div class="header-left">
                <a href="http://localhost:9999/views/home/index.html"><div class="header-home"></div></a>
                <span class="my-jlc"></span>
            </div>
        </div>
    <!-- focus -->
        <div class="focus">
            <div class="focus-img"></div>
            <div class="focus-content">
                <h1>My  JAEGER-LECOULTRE</h1>
                <h2>已是会员？</h2>
                <input id="login-username" type="text" placeholder="用户名"/>
                <input id="login-password" type="password" placeholder="密码"/>
                <input id="login-go" type="submit" value="登陆"/>
                <div class="goback-password">找回密码<span></span></div>
                <div class="login-line"></div>
                <div class="become">成为会员</div>
                <p class="welcome">Jaeger-LeCoultre积家欢迎您进入这个品牌客户的尊享空间， 在此可以获得Jaeger-LeCoultre积家独家内容、 个性化服务、 新品预览及Jaeger-LeCoultre积家活动邀请机会。</p>
                <button class="create" onclick="window.location.href ='http://localhost:9999/views/register/register.html'">创建您的账户</button>
            </div>
        </div>
    </body>

</html>




